<div class="cmp-index-cont-container">
  <div class="cmp-index-card-sections-checkbx">
    <div class="cmp-index-card-sections-checkbx-title">
      <p>Companies</p>
    </div>
    <hr>
    <div class="cmp-index-card-comp-list-row">
      <% @companies.each do |company| %>
        <div class="cmp-index-card-comp-list">
          <div class="cmp-index-card-comp-list-box-name">
            <div class="cmp-index-card-comp-list-name">
              <%= link_to "#{company.name}", "#",class:"btn-cheto", data: { company: company.to_json, menus: @menus.to_json }, onclick: 'toggle(this); return false;'%>
              <%= link_to "Menu", company_path(company), class:"btn-cheto" %>
            </div>
            <div class="cmp-index-card-comp-list-addres">
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
  </div>
  <div class="cmp-index-card-sections-company-content" id="cmp-index-cmp-show">
    <div class="cmp-index-card-sections-information-title">
      <p>Information</p>
    </div>
    <div>
      <p><strong>Name:</strong>  <span id="company-name"></span></p>
    </div>
    <div>
      <p><strong>address:</strong> <span id="company-address"></span></p>
    </div>
    <div class="cmp-index-card-basket">
      <p><strong>Basket </strong> </p><div class="cmp-index-card-basket-checkbox"><%= check_box_tag 'check_box', 1,  @company[0]["basket"], disabled: true %></div>
    </div>
    <div class="cmp-index-card-qr">
      <div class="cmp-index-card-qr-p">
        <strong><p>QR:</p></strong>
      </div>
      <div class="cmp-index-card-qr-btn-img">
        <% if @company[0]["qr_code"] == nil %>
          <%= simple_form_for(@company[0]) do |f| %>
            <%= f.hidden_field :qr_code, value:"https://fillo.herokuapp.com#{company_path(@company[0])}"%>
            <div class="cmp-index-card-qr-g">
              <%= f.submit "Generate QR", class:"sh-btn-set-item"%>
            </div>
          <% end %>
        <% else %>
          <div class="cmp-index-card-svg">
            <%= link_to company_qr_path(company_id: @company[0]["id"]) do %>
              <%= @svg.html_safe %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="cmp-index-card-sections-checkbx-checkboxes-row">
      <% @menus = @menus.sort_by(&:position) %>
      <% @menus.each do |menu| %>
      <div class="cmp-index-card-sections-checkbx-checkboxes">
        <%= simple_form_for menu, :url => menus_cmUpdate_path(menu), :method => :post do |f| %>
            <div class="cmp-index-card-sections-checkbx-checkboxes-box-name">
              <%= f.hidden_field :menu_id, value:menu.id %>
              <%= f.check_box :visible, value:menu.visible %>
              <label for="<%= menu.subtitle %>"><p><%= menu.subtitle %></p></label>
            </div>
            <div class="cmp-index-card-sections-checkbx-checkboxes-submit">
              <%= f.submit "CONFIRM", class:"sh-btn-set-item" %>
            </div>

        <% end %>
      <% end %>
      </div>
    </div>
    <div class="cmp-index-card-edit">
      <%= link_to "Edit", edit_company_path(@company[0]), class:"btn-cheto" %>
    </div>
  </div>
</div>
