<div class="cmp-index-cont-container">
  <div class="cmp-index-card-sections-checkbx">
    <div class="cmp-index-card-sections-checkbx-title">
      <p>Companies</p>
    </div>
    <hr>
    <div class="cmp-index-card-comp-list-row">
      <% @companies.each do |company| %>
        <div class="cmp-index-card-comp-list">
          <div class="cmp-index-card-comp-list-box-name">
            <div class="cmp-index-card-comp-list-name">
              <%= link_to "#{company.name}", company_path(company), class:"btn-cheto" %>
              <%= link_to "Menu", company_path(company), class:"btn-cheto" %>
            </div>
            <div class="cmp-index-card-comp-list-addres">
              <p><%= company.street %> <%= company.number %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
  </div>
  <div class="cmp-index-card-sections-company-content">
    <div>
      <p>Name: <%= @company[0]["name"] %></p>
    </div>
    <div>
      <p>address: <%= @company[0]["street"] %> <%= @company[0]["number"] %> <%= @company[0]["post"] %> <%= @company[0]["city"] %></p>
    </div>
    <div class="cmp-index-card-basket">
      <p>Basket: </p><div class="cmp-index-card-basket-checkbox"><%= check_box_tag 'check_box', 1,  @company[0]["basket"] %></div>
    </div>
    <div class="cmp-index-card-qr">
      <div class="cmp-index-card-qr-p">
        <p>QR:</p>
      </div>
      <div class="cmp-index-card-qr-btn-img">
        <% if @company[0]["qr_code"] == nil %>
          <%= simple_form_for(@company[0]) do |f| %>
            <%= f.hidden_field :qr_code, value:"https://fillo.herokuapp.com#{company_path(@company[0])}"%>
            <div class="cmp-index-card-qr-g">
              <%= f.submit "Generate QR", class:"sh-btn-set-item"%>
            </div>
          <% end %>
        <% else %>
          <div class="cmp-index-card-svg">
            <%= link_to company_qr_path(company_id: @company[0]["id"]) do %>
              <%= @svg.html_safe %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="cmp-index-card-edit">
      <%= link_to "Edit", edit_company_path(@company[0]), class:"btn-cheto" %>
    </div>
  </div>
</div>