<%= render partial: "shared/navbar-area", locals: {button_a: t('landing_page.home'), button_b: t('landing_page.product'), button_c: t('landing_page.pricing'), button_d: t('landing_page.contact') } %>
<div class="stn-sw-container">
  <div class="stn-sw-ctn-title">
    <h2><%= @station.name %></h2>
  </div>
  <div class="stn-sw-orders">
    <%= render partial: 'orders'%>
  </div>
  <div>
    <%= link_to "Back to index", companies_path %>
  </div>
</div>
<div data-controller="websocket-station" data-stationid="<%= @station.id %>"></div>
