<%= render partial: "shared/navbar-area", locals: {button_a: t('landing_page.home'), button_b: t('landing_page.product'), button_c: t('landing_page.pricing'), button_d: t('landing_page.contact') } %>
<div class="stn-sw-container">
  <div class="stn-sw-ctn-title">
    <h2><%= @station.name %></h2>
  </div>
    <%= turbo_stream_from "station_#{@station.id}" %>
    <div class="stn-sw-orders" id="station_<%= @station.id %>">
      <%= render partial: 'stations/orders', locals: { orders: @orders, order_items: @order_items, items: @items, subitems: @subitems } %>
    </div>
  <div>
    <%= link_to "Back to index", companies_path %>
  </div>
</div>
