<div class="sh-form-toggle-<%= item.id %> sh-form-inputs" style="display: none;">
  <%= simple_form_for(item) do |f| %>
    <div class="sh-inputs-name-price">
        <div class="sh-input-position">
        <%= f.text_field :position, type:"number", step:"1.0", value:"#{ item.position }", label: false %>
        </div>
        <div class="sh-input-name">
        <%= f.text_field :name, class: "sh-input-name-#{item.id}", placeholder: "#{item.name}", label: false %>
        <button  onclick="nameInput(<%= item.id %>); return false" return false>X</button>
        </div>
        <div class="sh-input-price">
        <%= f.text_field :price, type:"number", step:"0.01", class: "sh-input-price-#{item.id}", placeholder: "#{item.price}", label: false%>
        </div>
    </div>
    <div class="sh-input-description">
        <%= f.text_field :description, class: "sh-input-description-#{item.id}", placeholder: "#{item.description}", label: false%>
        <button  onclick="descriptionInput(<%= item.id %>); return false">X</button>
    </div>
    <div class="sh-input-btns">
        <%= f.submit "UPDATE",class:"sh-btn-set-item" %>
        <%= f.submit "RESET", type:"reset", class:"sh-btn-set-item" %>
        <button  onclick="editItem(this)" data-id=<%= item.id %> class="sh-btn-set-item" type="reset">CANCEL</button>
    </div>
  <% end %>
</div>