<div class="sh-form-toggle-<%= item.id %> sh-form-inputs" style="display: none;">
  <%= simple_form_for(item) do |f| %>
    <div class="sh-inputs-name-price">
      <div class="sh-input-position">
        <%= f.text_field :position, type:"number", step:"1.0", value:"#{ item.position }", label: false %>
      </div>
      <div class="sh-input-name">
        <%= f.text_field :name, class: "sh-input-name-#{item.id}", placeholder: "#{item.name}", label: false %>
        <button  onclick="nameInput(<%= item.id %>); return false" return false>X</button>
      </div>
      <div class="sh-input-price">
        <%= f.text_field :price, type:"number", step:"0.01", class: "sh-input-price-#{item.id}", placeholder: "#{item.price}", label: false%>
      </div>
    </div>
    <div class="sh-input-description">
      <%= f.text_field :description, class: "sh-input-description-#{item.id}", placeholder: "#{item.description}", label: false, rows: 2 %>
      <button  onclick="descriptionInput(<%= item.id %>); return false">X</button>
    </div>
<%#                   ITEM OPTIONS A B C D E                        %>
    <div class="sh-inputs-name-price">
      <div class="sh-input-name">
          <%= f.text_field :op_a, class: "sh-new-input-name", placeholder: "option 1", label: false %>
      </div>
      <div class="sh-input-price">
        <%= f.text_field :price_a, type:"number", step:"0.01", value:"#{ item.price_a }", class: "sh-new-input-price", label: false%>
      </div>
    </div>
    <div class="sh-inputs-name-price">
      <div class="sh-input-name">
          <%= f.text_field :op_b, class: "sh-new-input-name", placeholder: "option 2", label: false %>
      </div>
      <div class="sh-input-price">
        <%= f.text_field :price_b, type:"number", step:"0.01", value:"#{ item.price_b }", class: "sh-new-input-price", label: false%>
      </div>
    </div>
    <div class="sh-inputs-name-price">
      <div class="sh-input-name">
          <%= f.text_field :op_c, class: "sh-new-input-name", placeholder: "option 3", label: false %>
      </div>
      <div class="sh-input-price">
        <%= f.text_field :price_c, type:"number", step:"0.01", value:"#{ item.price_c }", class: "sh-new-input-price", label: false%>
      </div>
    </div>
    <div class="sh-inputs-name-price">
      <div class="sh-input-name">
          <%= f.text_field :op_d, class: "sh-new-input-name", placeholder: "option 4", label: false %>
      </div>
      <div class="sh-input-price">
        <%= f.text_field :price_d, type:"number", step:"0.01", value:"#{ item.price_d }", class: "sh-new-input-price", label: false%>
      </div>
    </div>
    <div class="sh-inputs-name-price">
      <div class="sh-input-name">
          <%= f.text_field :op_e, class: "sh-new-input-name", placeholder: "option 5", label: false %>
      </div>
      <div class="sh-input-price">
        <%= f.text_field :price_e, type:"number", step:"0.01", value:"#{ item.price_d }", class: "sh-new-input-price", label: false%>
      </div>
    </div>
    <div class="sh-inputs-name-price">
      <div>
        <%= f.check_box :price_io, class: "sh-new-input-name", label: false %>
        <%= f.label :price_io, "Change the main price for the option price" %>
      </div>
    </div>
<%#                   ITEM OPTIONS A B C D E                        %>
    <div class="sh-input-btns">
      <%= f.submit "UPDATE",class:"sh-btn-set-item" %>
      <%= f.submit "RESET", type:"reset", class:"sh-btn-set-item" %>
      <button  onclick="editItem(this)" data-id=<%= item.id %> class="sh-btn-set-item" type="reset">CANCEL</button>
    </div>
  <% end %>
</div>
