<div class="sh-form-new-subitem-toggle-<%= item.id %> sh-form-inputs" style="display: none;">
  <div>
    <p>new subitem:</p>
  </div>
  <%= simple_form_for @subitem, url:new_subitem_path, method: :get do |f| %>
    <div class="sh-inputs-name-price">
      <div class="sh-input-name">
          <%= f.text_field :name, class: "sh-new-input-name", placeholder: "name", label: false %>
      </div>
      <div class="sh-input-price">
        <%= f.text_field :price, type:"number", step:"0.01", class: "sh-new-input-price", value: '%.2f' % 0.00, label: false%>
      </div>
    </div>
    <div class="sh-input-description sh-new-input-description">
      <%= f.text_area :description, placeholder: "description", label: false, rows: 2 %>
    </div>
    <div class="sh-input-checkbox">
      <%= f.input :sumitem, label: "sum price"%>
    </div>
    <div class="sh-input-btns">
      <%= f.submit "CONFIRM",class:"sh-btn-set-item" %>
    </div>
  <% end %>
</div>
