<%= render partial: "shared/navbar-area", locals: {button_a: "Home", button_b: "Product", button_c: "Pricing", button_d: "Contact" } %>

<section id="hero-area" class="header-area header-eight">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="header-content">
                    <h1>Barapp.</h1>
                    <p>
                      <%=  t('messages.landing_text')  %>
                    </p>
                    <div class="button">
                        <a href="javascript:void(0)" class="btn primary-btn">Get Started</a>
                        <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                        class="glightbox video-button">
                        <span class="btn icon-btn rounded-full">
                            <i class="lni lni-play"></i>
                        </span>
                        <span class="text">Watch Intro</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="header-image mr-3">
                    <img src="<%= asset_path('QR paint.jpg') %>" alt="QR" style="width: 800px; height: auto;"/>
                    <%#img src="template/images/header/hero-image.jpg" alt="#" /%>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render partial: "pages/landing/about" %>
<%= render partial: "pages/landing/services" %>
<%= render partial: "pages/landing/pricing" %>
<%= render partial: "pages/landing/contact" %>
<%= render partial: "pages/landing/footer" %>
