<div class="cmp-new-container">
  <div class="cmp-new-content">
    <h2>Edit company</h2>
    <%= simple_form_for(@company) do |f| %>
      <div class="form-inputs cmp-new-form-inputs">
        <%= f.input :name, class:"form-item"%>
        <%= f.input :city, class:"form-item" %>
        <%= f.input :suburb, class:"form-item" %>
        <%= f.input :street, class:"form-item" %>
        <%= f.input :number, class:"form-item" %>
        <%= f.input :post, class:"form-item" %>
      </div>
      <div class="form-actions">
        <%= f.submit class:"New" %>
      </div>
    <% end %>
    <br>
    <h3>Menus</h3>
    <div>
      <% @menus.each do |menu| %>
        <div class="cmp-edit-menu">
          <h5><%= menu.subtitle %></h5>
          <div class="cmp-edit-menu-checkbox">
            <label for="menu-<%= menu.id %>" class="cmp-edit-menu-checkbox-label">Visible</label>
            <a href=""></a><input type="checkbox" id="menu-<%= menu.id %>" <%= menu.visible ? 'checked' : '' %>>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
