<div class="cmp-index-container">
  <h3>INDEX</h3>
  <br>
  <h5>COMPANIES:</h5>
  <hr>
  <div class="cmp-index-cards row">
    <% @company.each do |company| %>
      <% if current_user == company.user  %>
        <div class="cmp-index-card-btns col-sm-6 col-md-4 col-xl-1 list">
          <a href="<%= company_path(company) %>"class="cmp-index-card">
            <div class="cmp-index-card-content">
              <div class="cmp-index-card-tittle"> 
                <h4><%= company.name.upcase %></h4>
              </div>
              <div class="cmp-index-card-address">
                <p><%= company.street %> <%= company.number %>, <%= company.post %> <%= company.city %></p>
              </div>   
            </div>
          </a>
          <div class="cmp-index-card-set-btns">
          <button class="cmp-index-card-edit-btn">EDIT</button>
          <button class="cmp-index-card-delete-btn">DELETE</button>
          </div>
        </div>
      <% end %>
    <% end %>
    <div  class="cmp-index-card-btns-add col-sm-6 col-md-4 col-xl-1 list">
    <a href="<%= new_company_path %>"  class="cmp-index-card col-sm-6 col-md-4 col-xl-1 list">
      <div class="cmp-index-card-content-add">
        <h4>ADD</h4>
      </div>
    </a>
    </div>    
  </div>
  <hr>
  <div>
    <% if current_user.role.name == "master"  %>
      <div class="cmp-index-users-list">
        <p>Users:</p>
        <% @users.each do |user| %>
          <% if user != current_user %>
            <ul>
              <li><%= user.email %> - <%= user.role.name %> - <%= user.active %></li>
              <% @company.each do |company| %>
                <% if company.user == user %>
                  <%= company.name %>
                <% end %>
              <% end %>
              <br>
            </ul>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="cmp-index-btn-lgo">
  <%= button_to " Log out ",  destroy_user_session_path, class: "h-btn", method: :get %>
  </div>
</div>

