<div class="cmp-index-container clearfix">
  <h3>INDEX</h3>
  <br>
  <h5>COMPANIES:</h5>
  <hr>
  <div class="cmp-index-cards row">
    <% @company = @company.order(:id) %>
    <% @company.each do |company| %>
      <% if current_user == company.user  %>
        <div class="cmp-index-card-btns col-sm-6 col-md-4 col-xl-1 list">
          <div class="cmp-index-card">
            <a href="<%= company_path(company) %>"class="cmp-index-card-content">
              <div class="cmp-index-card-tittle"> 
                <h2><strong><%= company.name.upcase %></strong></h2>
              </div>
              <div class="cmp-index-card-address">
                <p><%= company.street %> <%= company.number %>, <%= company.post %> <%= company.city %></p>
              </div>
            </a> 
          </div>
          <div class="cmp-index-card-qr">
            <% if company.qr_code == nil %>
              <%= simple_form_for(company) do |f| %>
                <%= f.hidden_field :qr_code, value:"https://fillo.herokuapp.com#{company_path(company)}"%>
                <%= f.submit "Generate QR", class:"sh-btn-set-item"%>
              <% end %>
            <% else %>
              <div class="cmp-index-card-text-svg">
                <p>QR menu for this company:</p>
              </div>
              <div class="cmp-index-card-svg">
                <%= link_to company_qr_path(company_id: company.id) do %>
                  <%= @svg.html_safe %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="cmp-index-card-set-btns">
            <%= button_to "EDIT", edit_company_path(company), method: :get %>
            <%= button_to "DELETE", company_path(company), method: :delete %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div  class="cmp-index-card-btns-add">
    <a href="<%= new_company_path %>">
      <div class="cmp-index-card-content-add">
        <p>ADD</p>
      </div>
    </a>
  </div> 
  <hr>  
  <div class="cmp-index-users-list-container">
    <% if current_user.role.name == "master"  %>
      <div class="cmp-index-users-list">
        <p>Users:</p>
        <% @users.each do |user| %>
          <% if user != current_user %>
            <ul>
              <li><%= user.email %> - <%= user.role.name %> - <%= user.active %></li>
              <% @company.each do |company| %>
                <% if company.user == user %>
                  <%= company.name %>
                <% end %>
              <% end %>
              <br>
            </ul>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="cmp-index-btn-lgo">
      <%= button_to " Log out ",  destroy_user_session_path, class: "h-btn", method: :get %>
    </div>
  </div>
</div>

