<%= render partial: "companies/show-basket/basket-paper", locals: {company: @company} %>
<div class = "sh-container">
  <div class="sh-nav">
    <h1> Speisekarte </h1>
  </div>
  <% if @company.basket %>
    <a href="#" onclick="toggle(); return false">
      <div class="sh-nav-basket">
      </div>
    </a>
  <% end %>
  <div class="sh-searchform">
    <input type="text" name="search" autocomplete=”off” id="sh-input"
    onkeyup="searchbar()" placeholder="Search">
  </div>
  <%= render partial: "companies/show-settings/new-section" %>
  <div class = "sh-cards row" id="wrapper">
    <hr>
    <% @menus.each do |menu|  %>
      <% if menu.visible == true %>
        <div class="sh-card col-sm-6 col-md-4 col-xl-2 list">
          <div class="sh-card-content">
            <%= render partial: "companies/show-settings/section-set", locals: {menu: menu} %>
            <div class="sh-items">
              <% @items.each do |item|  %>
                <% if item.menu_id == menu.id %>
                  <div class='sh-items-li'>
                    <%= render partial: "companies/show-settings/item-set", locals: {item: item} %>
                    <div class="sh-p-search">
                      <div class="sh-item-toggle-<%= item.id %>">
                        <div class="sh-items-name-price">
                          <h5 class="sh-item-<%= item.id %>"><strong><a href="#" data-id="<%= item.id %>" data-name="<%= item.name %>" data-price="<%= item.price %>" onclick="basketItems(event, this)"><%= item.name.upcase %></h5></a><h5 class="sh-item-<%= item.id %>">€<%= '%.2f' % item.price %></strong></h5>
                        </div>
                        <div class="sh-items-description">
                          <p class="sh-item-<%= item.id %>"><%= item.description.gsub(/\n/, '<br>').html_safe %></p>
                        </div>
                        <%# SUBITEM OPTIONS %>
                        <% @subitems.each do |subitem| %>
                          <% if subitem.item_id == item.id %>
                            <div class="sh-items-name-price option">
                              <div class="sh-items-input-option">
                                <div class="sh-items-input">
                                  <%= check_box_tag 'check_box', 1, false, id: "a", class:"options-checkboxes-#{item.id}" %>
                                </div>
                                <div class="sh-items-option">
                                  <h5 class="sh-item-<%= item.id %>"><%= subitem.description %></h5>
                                </div>
                              </div>
                              <div class="sh-items-option-price">
                                <h5 class="sh-item-<%= item.id %>">€<%= '%.2f' % subitem.price %></h5>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                        <%# SUBITEM OPTIONS %>
                      </div>
                      <div class="sh-div-btn-set-item">
                        <% if @company.basket %>
                          <div class="sh-div-item-basket-img">
                          </div>
                          <div class="sh-div-item-basket-quantity" id="quantityDiv<%= item.id %>">
                            <p><span id="sh-div-item-basket-quantity-number-<%= item.id %>"></span></p>
                          </div>
                          <button class="sh-btn-basket-item" data-id="<%= item.id %>" data-item="<%= item.to_json %>" onclick="basketItems(event, this, true)" >+</button>
                          <button class="sh-btn-basket-item" data-id="<%= item.id %>" data-item="<%= item.to_json %>" onclick="basketItems(event, this, false)" >-</button>
                        <% end %>
                        <% if current_user.present? %>
                          <% if (current_user == @company.user) || (current_user.role_id == 1) %>
                            <button class="sh-btn-set-item sh-btn-edit-<%= item.id %>" onclick="editItem(this)" data-id=<%= item.id %>>EDIT</button>
                            <%= button_to "DELETE", item_path(item), class:"sh-btn-set-item sh-btn-delete-#{item.id}", method: :delete %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <%= render partial: "companies/show-settings/prices-set", locals: {menu: menu} %>
            </div>
            <%= render partial: "companies/show-settings/new-item", locals: {menu: menu} %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= render partial: "companies/show-settings/new-section" %>
</div>

<%= javascript_include_tag "packs/sh-searchbar" %>
<%= javascript_include_tag "packs/sh-edit-item" %>
<%= javascript_include_tag "packs/sh-add-item" %>
<%= javascript_include_tag "packs/sh-edit-menu" %>
<%= javascript_include_tag "packs/sh-basket" %>
<%= javascript_include_tag "packs/sh-basket-open" %>
