<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>

  <p>
    <strong>Family:</strong>
    <%= beer.family %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= beer.price %>
  </p>

  <p>
    <strong>Abv:</strong>
    <%= beer.abv %>
  </p>

</div>
